* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* apect ratio
550 * 729 according to figma;

section input 285 / 729 %

*/

.container {
    margin: 0 auto;
    width: calc(550 * 100vh / 729);
    max-width: 100%;
    height: calc(729 * 100vw / 550);
    max-height: 100%;
    background: #000b66;
    overflow: hidden;
}