* {
    box-sizing: border-box;
}

:root {
    --theme-color: #6943FF;
    --theme-secondary-light: #F4F4F4;
    --output-heading-light: #5A537B;

}

html {
    height: 100%;
    font-size: calc(729vw / 400); /* base font size */
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* apect ratio
550 * 729 according to figma;

section input 285 / 729 %

*/

.container {
    text-align: center;
    width: calc(550 * 100vh / 729);
    max-width: 100%;
    height: calc(729 * 100vw / 550);
    max-height: 100%;
    background: #F4F4F4;
    overflow: hidden;
    /* background: url(light-mode.png); */
    background-size: cover;
}

#input-section {
    padding-top: 6.8%;
    background: var(--theme-color);
    height: 39%;
}

#app-title {
    color: white;
    font-size: 2.64rem;
    margin: 0;
    font-weight: 800;
}

#input-field {
    color: white;
    text-align: center;
    font-size: 5.8rem;
    font-family: inherit;
    font-weight: 800;
    margin-top: 6%;
    width: 11.7rem;
    height: 8rem;
    border: 0.2rem solid #B295FF;
    background-color: var(--theme-color);
    border-radius: 0.5rem;
}

/* Remove input field arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

#output-section {
    display: flex;
    justify-content: center;
    row-gap: 2.2rem;
    flex-direction: column;
    background: var(--theme-secondary-light);
    height: 61%;
    padding: 0 2.4rem;
}

.output-field {
    background: white;
    height: 11rem;
}


.output-field h2 {
    margin: 2.7rem 0 1.4rem;
    color: var(--output-heading-light);
    font-weight: 600;
    font-size: 2rem;
}

.output-field p {
    font-size: 1.4rem;
}


#convert-btn {
    background: white;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 1.7rem;
    padding: 0.6em 1.7em;
    border: 0;
    border-radius: 0.5rem;
}



@media (min-aspect-ratio: 550 / 729) {
    html {
      font-size: calc(550vh / 400);
    }
  }